<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>FormServlet</servlet-name>
        <servlet-class>Customer.FormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormServletTab3</servlet-name>
        <servlet-class>Customer.FormServletTab3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillpayServlet</servlet-name>
        <servlet-class>Billpay.BillpayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormServletTabtwo</servlet-name>
        <servlet-class>CustomerTab2.FormServletTabtwo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerFormtwo</servlet-name>
        <servlet-class>CustomerFormTwo.CustomerFormtwo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Balance_inquiry</servlet-name>
        <servlet-class>Balance_inquiry.Balance_inquiry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Fundtransfer</servlet-name>
        <servlet-class>Fundtransfer.Fundtransfer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Fundtransfer2</servlet-name>
        <servlet-class>Fundtransfer.Fundtransfer2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormServlet</servlet-name>
        <url-pattern>/FormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormServletTab3</servlet-name>
        <url-pattern>/FormServletTab3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BillpayServlet</servlet-name>
        <url-pattern>/BillpayServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormServletTabtwo</servlet-name>
        <url-pattern>/FormServletTabtwo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerFormtwo</servlet-name>
        <url-pattern>/CustomerFormtwo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Balance_inquiry</servlet-name>
        <url-pattern>/Balance_inquiry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Fundtransfer</servlet-name>
        <url-pattern>/Fundtransfer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Fundtransfer2</servlet-name>
        <url-pattern>/Fundtransfer2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login.html</welcome-file>
    </welcome-file-list>
    <!-- Add a JavaScript snippet to handle page refresh -->
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.html</url-pattern>
            <!-- Modify this pattern to match your HTML pages -->
            <scripting-invalid>true</scripting-invalid>
        </jsp-property-group>
    </jsp-config>
</web-app>